{% extends 'dreamit/basic.html'%}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css_style/about.css'%}">
{% endblock %}
{% block title %} Dream Realm - About {% endblock %}



{% block body %}
<!-- ________________START OF ACHIEVEMENTS_________________ -->
<section class="about_achievements">
    <div class="about_achievements-containers">
        <div class="about_achievements-left">
            <img src="{% static 'img/vector1.png' %}" alt="">
        </div>
        <div class="about_achievements-right">
            <h1>Achievements</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem sint tenetur, neque odit sed
                nihil maxime ipsum aliquam non est rem vel voluptates porro id aspernatur eos molestiae corporis
                fuga!</p>
            <div class="achievements_cards">
                <articles class="achievement_card">
                    <span class="achievement_icon">
                        <img src="image.png" alt="">
                    </span>
                    <h3>100+</h3>
                    <p>Course</p>
                </articles>
                <articles class="achievement_card">
                    <span class="achievement_icon">
                        <img src="image.png" alt="">
                    </span>
                    <h3>100+</h3>
                    <p>Students</p>
                </articles>
                <articles class="achievement_card">
                    <span class="achievement_icon">
                        <img src="image.png" alt="">
                    </span>
                    <h3>100+</h3>
                    <p>Awards</p>
                </articles>
            </div>
        </div>
    </div>
</section>
<!-- __________________END OF ACHIEVEMENTS_________________ -->

<!-- ____________________START OF TEAM SECTION__________________ -->
<section class="team">
    <h2>Meet our team</h2>
    <div class="team_container">
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
        <article class="team_member">
            <div class="team_member-image">
                <img src="{% static 'img/emp.png' %}" alt="">
            </div>
            <div class="team_member-info">
                <h4>Yogya Sharma</h4>
                <p>Expert Tutor</p>
            </div>
            <div class="team_member-socials">
                <a href="https://instagram.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://twitter.com" target="_blank"><img src="image1.png" alt=""></a>
                <a href="https://linkedin.com" target="_blank"><img src="image1.png" alt=""></a>
            </div>
        </article>
    </div>
</section>

{% endblock %}